.centering {
    text-align:center;
}
.img-centering {
   display: block;
   width: 400px;
   /* margin: top right bottom left;
   margin: top-bottom right-left; */
   margin: 0 auto 20px auto;
}
.newimg-centering {
    display: block;
    width: 500px;
    /* margin: top right bottom left;
    margin: top-bottom right-left; */
    margin: 0 auto;
    border: 2px solid #e9fffd4f
 }